form, table {
	margin: 15px;
}

div {
	border: 1px solid grey;
	border-radius: 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 15px;
}

#form {
	display: flex;
}

#tableStyle, #table {
	display: none;
}

button:hover {
	background-color: #aaaaaa;
}

button{
	border: none;
	border-radius: 10px;
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: left 15px center;
	background-image: url(https://img.icons8.com/nolan/64/000000/available-updates.png);
	padding: 9px 30px 9px 45px;
	margin: 15px;
}

input, select {
	border: 1px solid grey;
	border-radius: 10px;
	padding: 9px 30px;
	margin: 15px;
}